<!DOCTYPE html>
<html>

<head>
    <title>AI Study Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <header>

        <h1>AI Study Assistant</h1>

        <p>
            Upload your lecture notes and let AI help you revise more effectively.
        </p>

    </header>


    <div class="top-section">

        <div class="card">

            <h2>Upload Lecture Notes</h2>

            <form action="/upload" method="POST" enctype="multipart/form-data">

                <label for="pdf-upload" class="upload-label">
                    Choose PDF
                </label>

                <input
                    id="pdf-upload"
                    type="file"
                    name="pdf"
                    hidden
                >

                <p id="selected-file">
                    No file detected
                </p>

                <button type="submit">
                    Upload PDF
                </button>

            </form>

            <form action="/clear" method="POST">

                <button class="clear-button" type="submit">
                    Clear PDFs
                </button>

            </form>

            <h3>Uploaded PDFs: ({{ uploaded_pdfs|length }})</h3>

            {% if uploaded_pdfs %}

            <div class="pdf-list">
                {% for pdf in uploaded_pdfs %}

                    <div class="pdf-item">
                        {{ pdf }}
                    </div>

                {% endfor %}
                
            </div>

            {% else %}

            <p>No PDFs uploaded yet.</p>

            {% endif %}

        </div>


        <div class="card">

            <h2>Ask a Question</h2>

            <form action="/ask" method="POST">

                <input
                    type="text"
                    name="question"
                    placeholder="Ask something about your lecture notes..."
                    required
                >

                <button type="submit">
                    Ask AI
                </button>

            </form>

        </div>

    </div>


    <div class="card">

        <h2>AI Answer</h2>

        {% if ai_answer %}

            <p>{{ ai_answer }}</p>

        {% else %}

            <p>Your answer will appear here.</p>

        {% endif %}

    </div>

</div>

<script>

    const fileInput = document.getElementById("pdf-upload")
    const fileName = document.getElementById("selected-file")

    fileInput.addEventListener("change", function(){
        if(fileInput.files.length > 0){
            fileName.textContent = fileInput.files[0].name;
        }
        else{
            fileName.textContent = "No file detected"
        }
    });

</script>

</body>

</html>